:root {
    --strongCyan: hsl(172, 67%, 45%);
    --veryDarkCyan: hsl(183, 100%, 15%);
    --darkGrayishCyan: hsl(186, 14%, 43%);
    --darkGrayishCyan2: hsl(184, 14%, 56%);
    --lightGrayishCyan: hsl(185, 41%, 84%);
    --lightGrayishCyan2: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 62.5%;
    font-family: 'Space Mono', monospace;
    background-color: var(--lightGrayishCyan);
    box-sizing: border-box;
}