html.dark {
    background-color: #041014;
}

body.dark {
    background-color: #041014;
}

main.dark {
    background-color: var(--veryDarkCyan);
}

.text.dark {
    color: var(--white);
}
.text3.dark {
    color: var(--lightGrayishCyan);
}

#bill.dark,
#people.dark {
    background-color: var(--strongCyan);
    color: var(--white);
}

.tips-itens.dark{
    background-color: var(--darkGrayishCyan);
    color: var(--white);
}

.custom.dark{
    background-color: var(--darkGrayishCyan);
    color: var(--white);
}

.cardAnswer.dark {
    background-color: var(--darkGrayishCyan);
}

.tipAmount.dark {
    background-color: var(--darkGrayishCyan);
}

input.dark::placeholder {
    color: whitesmoke;
}